<div class="container ">
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col" >
                            
                           
                            <img  class="center-img"  src="https://img.icons8.com/material-rounded/50/000000/user.png"/>
                            <h5 class="card-title text-center text-uppercase">logIn</h5>
                        </div>
                        <div class="microsoftLogIn p-2">
                            <a href="#"class="btn btn-lg btn-social btn-block btn-microsoft rounded-pill">
                                <i class="fab fa-windows"></i> Login with Microsoft
                                </a>
                            
                        </div>
                        <div class="googlelogIn p-2">
                            <a href="#" class="btn btn-lg btn-social btn-block btn-google rounded-pill ">
                                <i class="fab fa-google "></i> Login with Google
                            </a>
                            
                        </div>
                        <div class="linkedinlogIn p-2">
                            <a href="#" class="btn btn-lg btn-social btn-block btn-linkedin rounded-pill ">
                                <i class="fab fa-linkedin "></i> Login with LinkedIn
                            </a>
                            
                        </div>
                        
                     </div>
                    <form class="login-form">
                        <div class="form-group-email">
                            <h5>Login with email</h5>
                            <input type="email" id="email" placeholder="Email ID" class="form-control rounded" >
                        </div>
                        
                        <div class="form-group-password" >
                            
                            <input type="password" id="password" minlength="6" placeholder="Password" class="form-control rounded">
                        </div>

                        <button  id="logInButton" class="btn btn-lg btn-primary btn-block text-uppercase" type="button" >Log In</button>
                                                                       
                    </form>
                </div>
                                   
            </div>
            
        </div>
    </div>
</div>